<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <title>KADZILLA</title>
</head>

<body>
    <div style="max-width:50rem; margin:10% auto 0 auto">
        <div style="text-align:center">
            <h1>
                <span class="badge" style="color: #ffffff; background-color: purple">KADZILLA</span>
            </h1>
            <h6>
                <span class="badge" style="color: #ffffff; background-color: purple">通过KAD网络搜片的小工具，你搜到啥与我无瓜！</span>
            </h6>
        </div>
        <div style="padding-left:5%; padding-right:5%">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="电视剧名，电影名" id="keyword">
                <button style="border-top-left-radius: 0rem;border-bottom-left-radius: 0rem;" class="btn btn-primary btn-search" type="button" id="search">搜一下</button>
            </div>
            <div style="margin-top:0.5rem">
                <span class="badge badge-danger">热门搜索</span>
                {{range $i, $v := .SearchStats.HotSearches}}
                <a href='javascript:send("{{$v}}");' style="margin-left:0.5rem">{{$v}}</a>
                {{end}}
            </div>
            <div style="margin-top:0.5rem">
                <span class="badge badge-success">最近搜索</span>
                {{range $i, $v := .SearchStats.LatestSearches}}
                <a href='javascript:send("{{$v}}");' style="margin-left:0.5rem">{{$v}}</a>
                {{end}}
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script>
        String.prototype.format = function (args) {
            var result = this;
            if (arguments.length > 0) {
                if (arguments.length == 1 && typeof (args) == "object") {
                    for (var key in args) {
                        if (args[key] != undefined) {
                            var reg = new RegExp("({" + key + "})", "g");
                            result = result.replace(reg, args[key]);
                        }
                    }
                }
                else {
                    for (var i = 0; i < arguments.length; i++) {
                        if (arguments[i] != undefined) {
                            var reg = new RegExp("({)" + i + "(})", "g");
                            result = result.replace(reg, arguments[i]);
                        }
                    }
                }
            }
            return result;
        }

        

        needAddSeason =true;
        function getSeasonOrMovieDiv(file) {
            var fileDivID = "getFileDivID"
            var seasonDivID = "getSeasonDivID"
            var orgName = "getOrgName"

            // new file div
            if (true) {
                var fileDiv = '<div id="{0}"></div>'.format(fileDivID)

                if (file.Type == 0) {
                    $("div#content").append(fileDiv)
                } else {
                    $("div#content").prepend(fileDiv)
                }
            }

            // new season or movie div
            if (needAddSeason) {
                var divName = "getSeasonDivName"
                var divColor
                if (file.Type == 0) {
                    divColor = "danger"
                } else {
                    divColor = "warning"
                }

                var div = '<div id="{0}"><div class="alert alert-{1}">{2}</div></div>'.format(seasonDivID, divColor, "搜索结果")
                var inserted = false
                for (var i = file.Season - 1; i > 0; i--) {
                    var seasonDivIDTemp = orgName + "_s" + i.toString()
                    var divTemp = $("div#" + seasonDivIDTemp)
                    if (divTemp.length > 0) {
                        divTemp.after(div)
                        inserted = true
                        break
                    }
                }

                if (!inserted) {
                    if (file.Type == 0) {
                        $("div#" + fileDivID).append(div)
                    } else {
                        $("div#" + fileDivID).prepend(div)
                    }
                }
                needAddSeason = false
            }

            return $("div#" + seasonDivID)
        }

        function getEpisodeOrMovieTableBody(file, seasonOrMovieDiv) {
            var episodeTableID
            var orgName = "getOrgName"
            var season = "_s" + file.Season.toString()
            episodeTableID = "file_list"

            // new div
            if ($("table#" + episodeTableID).length == 0) {
                var table =
                    '<table id="{0}" class="table table-striped table-hover table-bordered table-condense" style="word-break:break-all">\
                        <thead><tr><td>链接</td><td style="word-break:keep-all;white-space:nowrap">文件大小</td><td style="word-break:keep-all">可用源数</td></tr></thead><tbody></tbody>\
                    </table>'.format(episodeTableID)

                var div
                div = '<div>{0}</div>'.format(table)

                var inserted = false
                for (var i = file.Episode - 1; i > 0; i--) {
                    var episodeTableIDTemp = orgName + season + "_e" + i.toString()
                    var tableTemp = $("table#" + episodeTableIDTemp)
                    if (tableTemp.length > 0) {
                        tableTemp.parent().after(div)
                        inserted = true
                        break
                    }
                }

                if (!inserted) {
                    seasonOrMovieDiv.children().first().after(div)
                }
            }

            return $("table#{0}>tbody".format(episodeTableID))
        }

        function getFileNavDivID(file) {
            var divID
            var orgName = getOrgName(file)
            if (file.Type == 0) {
                divID = "nav_" + orgName + "_movie"
            } else {
                divID = "nav_" + orgName + "_tv"
            }

            return divID
        }



        function addFile(file) {
            var seasonOrMovieDiv = getSeasonOrMovieDiv(file)
            var tableBody = getEpisodeOrMovieTableBody(file, seasonOrMovieDiv)

            var size = Math.floor(file.Size / (1024 * 1024))
            if (size == 0) {
                size = "小于1"
            }
            let greatlink = replaceAll(file.Link,"%C3%A","%e")
            greatlink = replaceAll(greatlink,"%C2%","%")
            var row = '<tr><td><a href="{0}">{1}</a></td><td>{2}MB</td><td>{3}</td></tr>'.format(greatlink, decodeURIComponent(greatlink), size, file.Avail)
            tableBody.append(row)
        }

        var ws; // global websocket object

        // proxy for sending data to websocket
        this.send2WebSocket = function (message) {
            this.waitForWebSocketConnection(function () {
                ws.send(message);
            }, 1000);
        };

        this.waitForWebSocketConnection = function (callback, interval) {
            if (ws.readyState === 1) {
                callback();
            } else {
                var that = this;

                setTimeout(function () {
                    that.waitForWebSocketConnection(callback, interval);
                }, interval);
            }
        };

        var searchStatus = -1
        var searchTimerID
        function startSearch() {
            searchStatus = 1
            $("#content").text("正在搜索")
            searchTimerID = setTimeout("waitingSearch()", 1000)
        }

        function waitingSearch() {
            switch (searchStatus) {
                case 0:
                    searchStatus = 1
                    $("#content").text("正在搜索")
                    break
                case 1:
                    searchStatus = 2
                    $("#content").text("正在搜索.")
                    break
                case 2:
                    searchStatus = 3
                    $("#content").text("正在搜索..")
                    break
                case 3:
                    searchStatus = 0
                    $("#content").text("正在搜索...")
                    break
            }

            if (searchStatus != -1) {
                searchTimerID = setTimeout("waitingSearch()", 1000)
            }
        }

        function stopSearch() {
            if (searchStatus != -1) {
                searchStatus = -1
                clearTimeout(searchTimerID)

                $("#content").empty()
            }
        }

        function send(data) {
            //fix bug by wuxiao
            needAddSeason=true
            // new websocket
            if (ws != undefined) {
                ws.close()
            }

            ws = new WebSocket("{{.Host}}");
            ws.onmessage = function (e) {
                stopSearch()

                var file = $.parseJSON(e.data)
                if (file.hasOwnProperty("Error")) {
                    $('#content').append(file.Error)
                } else {
                    addFile(file)
                }
            }

            // send to search input to server
            if (data == undefined) data = $('#keyword').val()
            if (data.length == 0) data = " "
            send2WebSocket(data)

            // clear body
            $("body").removeClass()
            $("body").empty()

            // navbar
            var navbar = '\
            <nav class="navbar navbar-expand-sm navbar-dark fixed-top" style="background-color: purple">\
                <a class="navbar-brand" href="/">KADZILLA</a>\
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">\
                    <span class="navbar-toggler-icon"></span>\
                </button>\
                <div class="collapse navbar-collapse" id="navbarSupportedContent">\
                    <form class="form-inline my-2 my-lg-0">\
                        <input type="text" class="form-control" placeholder="电视剧名，电影名" id="keyword">\
                        <button style="margin-left: 5px;" class="btn btn-primary btn-search" type="button" id="search">搜一下</button>\
                    </form>\
                </div>\
            </nav>\
            '
            $("body").append(navbar)
            $('#keyword').val(data)

            // div for file links
            $("body").append('<div id="content" style="padding-left: 10px;padding-right: 10px"></div>');
            $("body").css("padding-top", "70px");

            bindSearchEvent()

            // show waiting search result status
            startSearch()
        }

        function bindSearchEvent() {
            $('#search').click(function () {
                send(undefined)
            });

            $('#keyword').bind('keypress', function (e) {
                if (e.keyCode == "13") {
                    send(undefined)
                }
            });
        }

        $(function () {
            bindSearchEvent()
        });

        function replaceAll(str, a, b) {
            var reg = new RegExp(a, "g");
            return str.replace(reg, b);
        }
    </script>
</body>

</html>